In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('detect_dataset.csv')
data = data.dropna(axis = 1)
data.columns = ['target','Ia','Ib','Ic','Va','Vb','Vc']
data = data[['Ia','Ib','Ic','Va','Vb','Vc','target']]
data

               Ia         Ib          Ic        Va        Vb        Vc  target
0     -170.472196   9.219613  161.252583  0.054490 -0.659921  0.605431       0
1     -122.235754   6.168667  116.067087  0.102000 -0.628612  0.526202       0
2      -90.161474   3.813632   86.347841  0.141026 -0.605277  0.464251       0
3      -79.904916   2.398803   77.506112  0.156272 -0.602235  0.445963       0
4      -63.885255   0.590667   63.294587  0.180451 -0.591501  0.411050       0
...           ...        ...         ...       ...       ...       ...     ...
11996  -66.237921  38.457041   24.912239  0.094421 -0.552019  0.457598       0
11997  -65.849493  37.465454   25.515675  0.103778 -0.555186  0.451407       0
11998  -65.446698  36.472055   26.106554  0.113107 -0.558211  0.445104       0
11999  -65.029633  35.477088   26.684731  0.122404 -0.561094  0.438690       0
12000  -64.598401  34.480799   27.250065  0.131669 -0.563835  0.432166       0

[12001 rows x 7 columns]

In [3]:
data_null = data.isnull().sum()
data_null

Ia        0
Ib        0
Ic        0
Va        0
Vb        0
Vc        0
target    0
dtype: int64

In [4]:
data_bal = data.loc[:,['Ia','target']].groupby(['target']).count()
data_bal = data_bal.apply(lambda x: x*100/data.shape[0])
data_bal

               Ia
target
0       54.203816
1       45.796184